# see `docs/env.md`
### Backend
# CORS
ALLOWED_HOSTS=
ALLOWED_ORIGINS=

# Auth Keycloak / OIDC
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_AUTHORIZE_URL=
KEYCLOAK_ACCESS_TOKEN_URL=
KEYCLOAK_JWT_URL=

# Session
SESSION_SECRET_KEY=
SESSION_COOKIE_BASE_DOMAIN=
SESSION_COOKIE_MAX_AGE=

# Storage
STORAGE_LOCAL_PATH=
STORAGE_LOCAL_BASE_URL=

# Environment
APP_ENV=

# Rate limiting (slowapi format: "N/second|minute|hour|day")
RATE_LIMIT=

### Frontend
PUBLIC_API_URL=
PUBLIC_BASE_URL=

### Docker
DATA_FOLDER=
STATIC_FOLDER=
